.table1{
    border: 2px solid black;
    padding: auto;
}
.th{
     border: 2px double black;
    width: 300px;
    height: 20px;
    text-align: center;
    font-size: 16pt;
}

.td{
    border: 1px solid black;
    margin: 1px ;
}