.img{
    margin-bottom: 110px;
    height: 240px;
}
.open{
   
    color: rgb(55, 55, 214);
    font-size: 16pt;
}
.td{
    width: 30px;
}
p{
    font-size: 13pt;
    color: rgb(38, 38, 73);
}
.h3{
    color: blue;
}