.as{
    width: 300px;
    height: 8px;
    
}
.table{
    margin-top: -1.8%;
    
}
.img{
    width: 450px;
    height: 250px;
        
}
.clock2{
    font-size: 6pt;
    }
h3{
    color:gray ;
    margin-top: -0.2%;
}
.wef{
 font-size: 1.5pc;
 
}
.we{
    width: 40px;
    height: 250px;
}

.row{
    font-size: 7pt;
}
.rdf{
    font-size: 7pt;
    color: grey;
}
.usa{
    width: 270px;
    height: 20px;
}
.img2{
   width: 270px;
   height: 150px;
}
.premia{
    font-size: 6pt;
    color: grey;
}
